.greetings {
    text-align: center;
    padding: 3rem 0 0 0;
    font-family: Mynerve;
    font-size: 1.5rem;
    color: var(--pink);
    display: flex;
}

.greetings_text {
    padding-top: 0.3rem;
}

.greetings__hand {
    margin-left: 1rem;
    animation: shake 2s infinite;
    transform: rotate(0, 0, 0);
    backface-visibility: hidden;
    perspective: 100px;

}

@keyframes shake {

    0% {
        transform: rotate(30deg);
    }

    20% {
        transform: rotate(30deg);
    }

    30% {
        transform: rotate(50deg);
    }

    40% {
        transform: rotate(30deg);
    }

    50% {
        transform: rotate(50deg);
    }

    60% {
        transform: rotate(20deg);
    }

    70% {
        transform: rotate(40deg);
    }

    80% {
        transform: rotate(30deg);
    }

    100% {
        transform: rotate(30deg);
    }
}

@media screen and (max-width: 480px) {

    .greetings {
        text-align: center;
        padding: 0 0 0 0;
        font-size: 1.3rem;
        position: relative;
        bottom: -9rem;
        z-index: 90;
    }
}