.skills {
    padding-left: 8rem;
}

.skills__title_cntr {
    display: flex;
}

.skills__line {
    background-color: white;
}

.skills__title {
    color: white;
}


/*Moje */
.skills__content_desc {
    padding-bottom: 1rem;
}

.skills__tools__cntr {
    display: flex;
    margin-top: 1rem;
}

.skills__tool_cntr {
    display: flex;
    flex-direction: column;
    margin: 0 0.8rem;
}

.skills__img {
    width: 80px;
    margin: 1rem;
}

.skills__tool_desc {
    font-size: var(--fontXS);
    font-weight: 300;
    text-align: center;

}


/*Damiana*/
/* .skills__tools__container {
    padding-top: 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    align-items: center;
    justify-items: center;
}

.skills__tools__figure {
    width: 100%;
    height: 100%;
} */

/* .skills__tools { */
/*full screen in mobile first section (cut browser search bar on mobile) + js code*/
/* margin: 100vh auto 0 auto;
    margin: calc(var(--vh, 1vh) * 100) auto 0 auto;

    max-width: 1200px;
    padding: 4rem 1rem;
    display: flex;
    flex-direction: column;
} */

@media screen and (max-width: 1024px) {
    .skills__tools__cntr {
        flex-direction: column;
        margin: 0 2rem 0 0;
    }

    .skills__tool_cntr {
        flex-direction: row;
        margin: 0.5rem 0;
        align-items: center;
    }

    .skills__tool_desc {
        text-align: justify;
        text-justify: inter-word;
    }
}


@media screen and (max-width: 768px) {
    .skills {
        padding-left: 5rem;
    }
}

@media screen and (max-width: 480px) {
    .skills {
        padding-left: 2rem;
    }

    .skills__tools__cntr {
        flex-direction: column;
        margin: 0 0 0 0;
    }
}