.footer {
    color: white;
    width: 100%;
    text-align: center;
    padding: 0rem 0rem 0.7rem 0;
    font-weight: 200;
    font-size: 0.8rem;
    background-color: var(--navy);
}

@media screen and (max-width: 480px) {

    .footer {
        text-align: center;
        padding: 0rem 0 0.7rem 0;
    }
}